.Entrada {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    color:  rgb(213, 122, 25);
}

.total {
    color: rgb(234, 192, 23); 
    
}

.total span {
    color: rgb(213, 122, 25);
}